@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-pale-navy: hsl(235, 18%, 26%);
  --color-navy: hsla(234, 29%, 20%, 1);
  --color-grey: hsla(243, 28%, 13%, 0.25);
  --color-red: hsla(4, 100%, 67%, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

body {
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  background: var(--color-pale-navy);
}

@media screen and (min-width: 375px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

fieldset {
  border: none;
}

.hidden {
  display: none !important;
}

.subscription-page {
  background: white;
  max-width: 375px;
  min-height: 100vh;
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-iteration-count: 1;
}

@media screen and (min-width: 380px) {
  .subscription-page {
    border-radius: 36px;
  }
}

@media screen and (min-width: 700px) {
  .subscription-page {
    max-width: 928px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    min-height: auto;
    margin-inline: 1.5rem;
  }
}

.subscription-page__content {
  margin: 2.5rem 1.5rem;
  order: 1;
  max-width: 375px;
}

@media screen and (min-width: 500px) {
  .subscription-page__content {
    margin: 4.5rem 2.5rem;
  }
}

@media screen and (min-width: 500px) {
  .subscription-page__image {
    order: 2;
    max-width: 400px;
  }
}

.title {
  font-size: clamp(2.5rem, 5vw, 3.5rem);
}

.description {
  margin-block: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

ul li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

form {
  margin-top: 2.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group__title-bar {
  font-size: 0.75rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.error-msg {
  color: var(--color-red);
}

.form-group input {
  color: var(--dark-navy, #242742);
  opacity: 0.5;
  background: white;
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

.form-group input:focus,
button:focus {
  outline: 1px dashed var(--color-navy);
}

.form-group input:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: none;
}

.form-group input:focus-visible,
button:focus-visible {
  outline: 1px dashed var(--color-navy);
}

button {
  background: var(--color-navy);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  padding: 1.125rem 2.875rem;
  text-align: center;
  width: 100%;
  transform: scale(1);
  transition: all 0.25s ease-in-out;
}

button:hover {
  background: var(--gradient-1, linear-gradient(225deg, #ff6a3a 0%, #ff527b 100%));
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
  transform: scale(1.025);
}

.success-page {
  max-width: 500px;
  background: white;
  min-height: 100vh;
  padding: 1.5rem;
  padding-top: 9.375rem;
  position: relative;
  animation-duration: 0.75s;
  animation-name: SlideIn;
  animation-iteration-count: 1;
}

@media screen and (min-width: 500px) {
  .success-page {
    border-radius: 36px;
    min-height: auto;
    display: flex;
    align-items: center;
    padding: 4rem;
    margin-inline: 1.5rem;
  }
}

.success-page__checkmark {
  margin-bottom: 2.5rem;
}

.success-page__title {
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  line-height: 100%;
}

.success-page__description {
  font-size: 16px;
  margin-top: 1.5rem;
  margin-bottom: 2.5rem;
  line-height: 24px;
}

@media screen and (min-width: 500px) {
  .success-page__description {
    margin-bottom: 2.5rem;
  }
}

.success-page button {
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  width: calc(100% - 64px);
  transform: translateX(-50%);
}

@media screen and (min-width: 500px) {
  .success-page button {
    position: static;
    transform: none;
    width: 100%;
  }
}

.success-email {
  font-weight: 700;
}

@keyframes fadeIn {
  from {
    transform: opacity(0%);
    transform: scale(0.6);
  }

  to {
    transform: opacity(100%);
    transform: scale(1);
  }
}

@keyframes SlideIn {
  from {
    transform: opacity(0%);
    transform: translateY(-30%);
  }

  to {
    transform: opacity(100%);
    transform: translateY(0%);
  }
}
